server {
    listen 443 ssl;
    server_name {{ inventory_hostname }};

    ssl_certificate     /etc/nginx/ssl/selfsigned.crt;
    ssl_certificate_key /etc/nginx/ssl/selfsigned.key;

    root /var/www/;
    index index.php index.html;

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    location ~ \.php$ {
        include fastcgi.conf;
        fastcgi_pass wordpress:9000;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        try_files $uri =404;
    }

    location ^~ /phpmyadmin/ {
        proxy_pass http://phpmyadmin:80/;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Host $host;

        proxy_http_version 1.1;
        proxy_buffering off;

        sub_filter_once off;
        sub_filter 'href="/' 'href="/phpmyadmin/';
        sub_filter 'src="/' 'src="/phpmyadmin/';
        sub_filter 'action="/' 'action="/phpmyadmin/';
        sub_filter 'form action="/' 'form action="/phpmyadmin/';
        sub_filter 'location.replace("/' 'location.replace("/phpmyadmin/';
        sub_filter 'window.location="/' 'window.location="/phpmyadmin/';
    }

}

server {
    listen 80;
    listen [::]:80 default_server;
    server_name default_server;

    return 301 https://$host$request_uri;
}
